<div class="flex flex-row box-content w-auto h-auto" 
    [ngClass]="{ 'p-1 bg-secondary-400 rounded-full': this.iconConfig().roundedBackground}"
>
    @if (!iconConfig().svgUrl) {
        <mat-icon [className]="'flex items-center justify-center text-center ' + class" 
            [ngClass]="{ 'material-icons-outlined': iconConfig().isOutlined }">
            {{iconConfig().fontIcon}}
        </mat-icon>
    } @else {
        <mat-icon class="flex items-center justify-center text-center "
            [svgIcon]="iconConfig().iconName!"
            [className]="class"
        />
    }
</div>

