<label class="flex flex-row items-center rounded-lg bg-secondary-400 w-full min-h-12 px-1">
    <div class="flex flex-row items-center px-5 gap-2.5 w-full">
        <div class="flex justify-center items-center w-auto">
            <app-svg-icon 
                [iconConfig]="iconConfig()" 
                class="text-primary-500"
            />
        </div>
        <div class="pl-1 pr-4 *:w-full w-full">
            <input 
                class="text-primary-500 placeholder:text-primary-300 
                    focus-visible:outline-none focus-visible:border-none" 
                [placeholder]="placeholder()"
                type="text"
            />
        </div>
    </div>
</label>