<div class="flex flex-col w-full gap-[5px]">
    <div class="rounded-t-lg text-primary-600 font-medium bg-secondary-300 w-full px-4 py-1">
        Create Your Textual Production
    </div>
    <label class="flex flex-col justify-center rounded-b-lg bg-secondary-400 w-full min-h-22">
        <div class="px-4">
            <input 
                class="text-primary-500 placeholder:text-primary-300 focus-visible:outline-none 
                    focus-visible:border-none w-full text-xl" 
                placeholder="Write Something..."
                type="text"
            />
        </div>
    </label>
</div>