<div #container  
    class="flex flex-col pt-8 bg-secondary-300 rounded-lg max-h-224 h-auto">
    <div
        class="px-9 h-full overflow-y-auto scroll-container"
        [ngClass]="{ 'overflow-effect': hasOverflow()}"
    >
        <div class="pb-4 flex flex-row justify-center overflow-y-hidden">
            <div class="flex flex-col gap-2 overflow-y-hidden">
                <div class="flex flex-col gap-2 overflow-y-visible" #header>
                    <span class="text-[2.5rem]/[3rem] font-normal h-10 w-full text-primary-600 overflow-y-visible">
                        {{textualProduction().title}}
                    </span>
                    <span class="text-2xl/[1.75rem] h-auto w-full text-primary-300 transition-[text-shadow] 
                        duration-200 ease-in-out hover:[text-shadow:0_0_1px_var(--color-primary-300)] hover:cursor-pointer"
                        (click)="goToAuthorPage($event)"
                    >
                        {{textualProduction().author.name}}
                    </span>
                </div>
                <div #content 
                    class="flex flex-col text-[2rem]/[2.625rem] whitespace-pre-line gap-2.5 text-primary-500"
                >
                    @for (stanza of textualProduction().content; track $index) {
                        <p>{{stanza}}</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div #options
        class="flex flex-row gap-2 w-full px-4 py-2 items-center">
        <app-icon-button [iconConfig]="likeButtonIconConfig" (click)="onLikeClick($event)">
            <span>1.5K</span>
            <span>Likes</span>
        </app-icon-button>
        
        <app-text-input 
            [iconConfig]="commentIconConfig" 
            placeholder="Comment about this textual production..."
            class="w-full"
        />
    
        <app-icon-button [iconConfig]="shareButtonIconConfig" (click)="onShareClick($event)">
            <span>Share</span>
        </app-icon-button>
        <app-menu [menuOptions]="menuOptions">
            <app-icon-button 
                [iconConfig]="moreOptionsButtonIconConfig" 
            />
        </app-menu>
    </div>
</div>