@import "tailwindcss";


@theme {
    --color-primary-600: rgb(55, 44, 73);
    --color-primary-500: rgb(99, 83, 127);
    --color-primary-300: rgb(161, 147, 184);
    --color-secondary-600: rgb(172, 196, 252);
    --color-secondary-500: rgb(194, 204, 230);
    --color-secondary-400: rgb(238, 241, 248);
    --color-secondary-300: rgb(248, 249, 252);
}




html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
