<div #container  
    class="flex flex-col pt-8 bg-secondary-300 rounded-lg max-h-224 h-auto">
    <div
        class="px-9 h-full overflow-y-hidden scroll-container"
    >
        <app-textual-production-main-content 
            [textualProduction]="textualProduction()" 
        />

        <div 
            class="overflow-effect-element"
            [ngClass]="{ 'is-visible': hasOverflow() }"
            (click)="openDetails()"
        ></div>
    </div>
    <div #options
        class="flex flex-row gap-2 w-full px-4 py-2 items-center">
        <app-icon-button 
            [iconConfig]="{ fontIcon: 'thumb_up', isOutlined: true, roundedBackground: false}" 
            (click)="onLikeClick($event)"
        />
        
        <app-text-input 
            [iconConfig]="{ fontIcon: 'comment', isOutlined: true, roundedBackground: false }" 
            placeholder="Comment about this textual production..."
            class="w-full"
        />
    
        <app-icon-button 
            [iconConfig]="{ fontIcon: 'share', isOutlined: true, roundedBackground: false }" 
            (click)="onShareClick($event)"
        />
        <app-menu [menuOptions]="menuOptions">
            <app-icon-button 
                [iconConfig]="{ fontIcon: 'more_vert', isOutlined: true, roundedBackground: false }" 
            />
        </app-menu>
    </div>
</div>