<div class="flex max-h-180 h-180 w-296 bg-secondary-300 rounded-lg">
    
    <div class="flex justify-center w-full pb-4">
        <div class="flex justify-center w-full py-4 overflow-scroll px-5">
            <app-textual-production-main-content [textualProduction]="textualProduction!"/>
        </div>
    </div>
    <hr class="h-full min-h-[1em] w-0 border-l border-primary-300">
    <div class="flex flex-col min-w-140 h-full py-4"> <!-- Details -->
        <div class="flex flex-col gap-1"> <!-- Main Details -->
            <div class="flex px-2 gap-1"> <!-- Header-->
                <div class="flex gap-2 items-center">
                    <app-svg-icon 
                        [iconConfig]="{ svgUrl: 'assets/icons/profile-raw-icon.svg', iconName: 'profile-raw', roundedBackground: true }"
                        class="w-6 h-6"
                    />
                    <div class="flex gap-1 text-[1rem]">
                        <span class="text-primary-600">{{textualProduction!.author.name}}</span>
                        <span class="text-primary-300">|</span>
                        <span class="text-primary-500">2h</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col text-primary-500"> <!-- Infos -->
                <h2 class="flex flex-col text-sm whitespace-pre-line px-2">
                    {{'Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor consectetur adipiscing elit sed do eiusmod tempor ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet.\n\nLorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor consectetur adipiscing elit sed do eiusmod tempor ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet '}}
                </h2>
                <div class="flex flex-col text-sm px-2">
                    <div class="flex gap-1">
                        <span class="font-medium">
                            Literary Genre:
                        </span>
                        <span class="font-normal">
                            {{textualProduction!.literaryGenre}}
                        </span>
                    </div>
                    <div class="flex gap-1">
                        <span class="font-medium">
                            Themes:
                        </span>
                        <span class="font-normal">
                            Religião, Humor
                        </span>
                    </div>
                </div>
                <div class="flex flex-row justify-between gap-2 w-full items-center">
                    <div class="flex">
                        <app-icon-button 
                            [iconConfig]="{ fontIcon: 'thumb_up', isOutlined: true, roundedBackground: false}" 
                            (click)="onLikeClick($event)"
                        />
            
                        <app-icon-button 
                            [iconConfig]="{ fontIcon: 'share', isOutlined: true, roundedBackground: false }" 
                            (click)="onShareClick($event)"
                        />
                    </div>
                    <app-icon-button 
                        [iconConfig]="{ fontIcon: 'bookmark_add', isOutlined: true, roundedBackground: false }" 
                        (click)="onShareClick($event)"
                    />
                </div>
            </div>
            <app-text-input 
                [iconConfig]="{ fontIcon: 'comment', isOutlined: true, roundedBackground: false }" 
                placeholder="Comment about this textual production..."
                class="w-full"
                [isRounded]="false"
            />
        </div>
        <hr class="w-full border-t border-primary-300">
    </div>
</div>